<div class="calendar-day" [class.out-of-month]="day?.getMonth() !== currentDay?.getMonth()"
    [class.day-selected]="selected" [class.weekend]="day?.getDay() === 0 || day?.getDay() === 6"> 
    <p class="day" [class.current-day]="isCurrentDay(day)">{{day?.getDate()}}</p>
    <div class="day-weather" *ngIf="!!weatherIcon"><img [src]="weatherIcon" alt=""></div>
    <div class="calendar-events">
        <div class="event" *ngFor="let event of reminders; let i = index"
            [ngClass]="'event-color-' + (event.color || 'default')"
            [style.display]="i >= 2 ? 'none' : null">
            <p class="event-title">{{event.title}}</p>
        </div>
    </div>
    <p class="events-overflow" *ngIf="reminders?.length > 2">{{reminders?.length - 2}} more</p>
</div>