.content {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border: 1px solid black;
    margin: 10px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    .toolbar-buttons {
        display: flex;
        button {
            margin: 0 3px;
        }
        .month-controlls {
            button {
                padding: 0 5px;
                min-width: 0px;
            }
        }
    }
}

.calendar-header {
    background-color: royalblue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 0;
}

.calendar-day {
    height: 75px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    .day {
        margin: 2px auto 2px 2px;
        padding: 0 5px;
        font-weight: bold;
    }
    &.weekend {
        // background-color: lightgray;
        background-color: #f2f2f2;
        .day {
            color: royalblue;
        }
    }
    &.out-of-month {
        .day {
            opacity: .5;
            color: black;
        }
    }
    .day.current-day {
            background-color: red;
            border-radius: 3px;
            color: white;
    }
}

.calendar-events {
    overflow: hidden;
    .event {
        cursor: pointer;
        padding: 0 10px;
        margin: 2px 5px;
        border-radius: 15px;
        .event-title {
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
        }
    }
}

.events-overflow {
    margin: auto auto 0;
}

@media (max-width:600px) {
    .calendar-weekday {
        font-family: monospace;
        width: 3ch;
        overflow: hidden;
        white-space: nowrap;
        margin: auto;
    }
    .calendar-day {
        height: 55px;
        .event {
            min-height: 3px;
        }
        .event-title {
            display: none;
        }
    }
}
