.content {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border: 1px solid black;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    .toolbar-buttons {
        display: flex;
        button {
            margin: 0 3px;
        }
        .month-controlls {
            button {
                padding: 0 5px;
                min-width: 0px;
            }
        }
    }
}

.calendar-header {
    background-color: royalblue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 0;
}

app-calendar-day {
    cursor: pointer;
}

.event-list {
    height: calc(100vh - 520px);
    overflow: auto;
    .event-list-item {
        padding: 10px 0;
        border-bottom: solid 1px lightgray;
        .event-list-item-title {
            font-weight: bold;
        }
    }
}

@media (max-width:600px) {
    .calendar-weekday {
        font-family: monospace;
        width: 3ch;
        overflow: hidden;
        white-space: nowrap;
        margin: auto;
    }
    .event-list {
        height: calc(100vh - 410px);
    }
}
