<div class="toolbar">
    <h3>{{(currentDate | async) | date:'MMMM y'}}</h3>
    <div class="toolbar-buttons">
        <div class="month-controlls">
            <button mat-raised-button (click)="previusMonth()">
                <mat-icon aria-hidden="false" aria-label="previous month">chevron_left</mat-icon>
            </button>
            <button mat-raised-button (click)="resetCurrentDate()">
                <mat-icon aria-hidden="false" aria-label="previous month">fiber_manual_record</mat-icon>
            </button>
            <button mat-raised-button (click)="nextMonth()">
                <mat-icon aria-hidden="false" aria-label="next month">chevron_right</mat-icon>
            </button>
        </div>
        <button mat-raised-button (click)="openEvent()">New Event</button>
    </div>
</div>

<div class="content">
    <div class="calendar-header" *ngFor="let weekDay of weekDays">
        <p class="calendar-weekday">{{weekDay}}</p>
    </div>
    <app-calendar-day class="calendar-day" *ngFor="let day of daysOfMonth"
        [currentMonth]="currentDate.getValue().getMonth()"
        [reminders]="getEvents(day)"
        [day]="day"
    ></app-calendar-day>
</div>
